.progress {
  height: 15px;
  width: 100%;
  min-width: 0;
  background-color: #c9c9c9;
  position: relative;
  border-radius: 3px;
  font-size: 12px;
  vertical-align: middle;
}

.progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  top: 5px;
  left: 0;
  right: 0;
}

.progress .value {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
}

.progress .strength-weakest {
  background-color: #f23632;
}
.progress .strength-weak {
  background-color: #f25f5c;
}
.progress .strength-fair {
  background-color: #ffe066;
}
.progress .strength-good {
  background-color: #249dd1;
}
.progress .strength-strong {
  background-color: #30b39d;
}
